# Application settings
APP_NAME = "mini-rag-app"
APP_VERSION = "0.1"
APP_MODE = ""

# files settings
FILE_ALLOWED_TYPES = ["application/pdf", "text/plain"]
FILE_MAX_SIZE_MB = 10 # 10MB
FILE_CHUNK_SIZE = 512  # 512KB