# Application settings
APP_NAME = "mini-rag-app"
APP_VERSION = "0.1"
APP_MODE = ""

# files settings
FILE_ALLOWED_TYPES = ["application/pdf", "text/plain"]
FILE_MAX_SIZE_MB = 10 # 10MB
FILE_CHUNK_SIZE = 512  # 512KB
FOLDER_DEFAULT_NAME = "files_uploaded"

# MongoDB settings
MONGO_URL = "mongodb://localhost:27017"
MONGO_DB_NAME = "mini_rag"
# LLM settings
GENERATION_BACKEND = ""
EMBEDDING_BACKEND = ""

OPENAI_API_KEY = "your_openai_api_key_here"
OPENAI_API_URL = ""
OPENAI_API_EMBEDDING_MODEL = "text-embedding-3-small"

GENERATION_MODEL = "gpt-3.5-turbo"
EMBEDDING_MODEL = "text-embedding-3-small"
EMBEDDING_DIMENSION = 1000
DEFAULT_INPUT_TOKEN_LIMIT = 1000
DEFAULT_TEMPERATURE = 0.2
DEFAULT_MAX_TOKENS = 1000

# VectorDB settings
VECTOR_DB_BACKEND = ""
VECTOR_DB_DISTANCE_METHOD = "cosine"
VECTOR_DB_PATH = "qdrant_db"
VECTOR_DB_URL = ""
VECTOR_DB_API_KEY = "" 