fastapi==0.135.1
uvicorn[standard]==0.42.0
python-dotenv==1.2.2
pydantic-settings==2.13.1
python-multipart==0.0.22
aiofiles==25.1.0
python-magic-bin==0.4.14
langchain==1.2.13
langchain-community==0.4.1
langchain-text-splitters==1.1.1
PyMuPDF==1.27.2.2
motor==3.7.1
